certifi==2020.12.5
click==8.1.7
cycler==0.12.1
debugpy==1.8.1
decorator==5.1.1
python-gdcm==3.2.6
imageio==2.34.1
joblib==1.4.2
kiwisolver==1.4.5
matplotlib==3.8.4
networkx==3.3
numpy==1.26.4
opencv-python==4.9.0.80
packaging==24.0
pandas==2.2.2
pillow==10.3.0
pydicom==2.4.4
pylibjpeg==2.0.0
pylibjpeg-libjpeg==2.1.0
pyparsing==3.1.2
pytz==2024.1
scikit-image==0.23.2
scikit-learn==1.4.2
scipy==1.13.0
six==1.16.0
threadpoolctl==3.5.0
tifffile==2024.5.3
--find-links https://download.pytorch.org/whl/torch_stable.html
torch==2.3.0+cu121
torchvision==0.18.0
tqdm==4.66.4
typing_extensions==4.11.0
typing_extensions==4.11.0
wget==3.2